<div class="topnav">
  <a href=<%=videos_path%>> ALL </a>
  <a href= <%=my_videos_videos_path%> >My Videos</a>
  <div class="topnav-right">
    <%= link_to('Sign Out', destroy_user_session_path, method: :delete, title: "Logoff") %>
  </div>
</div>